$prim-font: "Roboto", sans-serif;
$sec-font: "Roboto Condensed", sans-serif;

html, body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear,left top,left bottom,from(#999),to(#27292F));
    background: linear-gradient(to bottom,#999,#27292F);
}

::selection {
  background: #FF8901!important; /* WebKit/Blink Browsers */
  color: white!important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5)!important;
}
::-moz-selection {
  background: #FF8901!important; /* WebKit/Blink Browsers */
  color: white!important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5)!important;
}




/**
 * TEMP.
 */

* {
    box-sizing: border-box;
    font-family: "Roboto", "Roboto Condensed", sans-serif;
}

#content {
    padding: 0 20px;
}

form {

    input[type="text"], input[type="password"] {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 15px;

        font-size: 1.2em;
    }

    input[type="submit"] {
        background: #148BC6;
        color: white;
    }

    input[type="submit"], button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 15px;

        outline: none;
        border: none;

        font-size: 1.2em;
        margin-bottom: 20px;
    }

}

a {
    font-size: 1.2em;
}

.errors {
    margin-bottom: 20px;

    & > div {
        color: red;
        font-weight: bold;
        font-size: 1.2em;
    }
}

#logged-in {
    margin-top: 90px;
}

#top-bar {
    background: #242422;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    height: 75px;
    padding: 0 20px;
    padding-top: 22px;

    & > h3 {
        font-size: 1.4em;
        margin: 0;
        display: block;
    }

    & > ul {
        list-style: none;
        float: right;
        margin: 0;

        & > li {
            display: inline-block;

            & > a {
                background-color: #D8D8D8;
                color: #242422;
                display: inline-block;
                padding: 5px 10px;
                border-radius: 5px;
                text-decoration: none;
                margin-right: 5px;
                font-size: 1em;
                font-weight: bold;
                text-transform: uppercase;
            }

            &.adm > a {
                background-color: #F23C34;
                color: white;
            }

            &:last-child {
                & > a {
                    margin-right: 0;
                }
            }
        }
    }
}

.admin-menu {
    & > a {
        background-color: #D8D8D8;
        color: #242422;
        display: block;
        padding: 15px 20px;
        margin: 20px 0;
        border-radius: 5px;
        text-decoration: none;
        margin-right: 5px;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }
}

/*Mobile View*/
/* Table Styles */

.ticket {
    display: block;
    box-shadow: 0px 5px 15px rgba( 0, 0, 0, 0.2 );
    padding: 10px 10px;
    margin: 0 -10px;

    margin-top: 15px;
    margin-bottom: 30px;

    .ticket-num {
        font-size: 1.5em;
        margin-bottom: 15px;
        margin-top: 0;
        text-align: center;
    }

    form {

        input[type="text"], input[type="password"] {
            display: inline-block;
            width: auto;
            margin-bottom: 10px;
            padding: 10px 15px;

            font-size: 1.2em;
        }

        input[type="submit"] {
            background: #148BC6;
            color: white;
        }

        input[type="submit"], button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px 15px;

            outline: none;
            border: none;

            font-size: 1.2em;
            margin-bottom: 20px;
        }

        input[type="file"] {

        }
    }
}

/**
    TABLE
**/

.fl-table {
    width: 100%;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .table-wrapper {
        overflow: auto;
    }
    .fl-table {
        width: 100%;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 10px .625em .625em .625em;
        height: 50px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
}